root = true

[*]
charset = utf-8
insert_final_newline = true

[{*.json,.markdownlintrc}]
indent_style = space
indent_size = 2

[*.lua]
indent_style = space
indent_size = 2
max_line_length = 120

[*.md]
indent_style = space
indent_size = 2
max_line_length = 100

[*.proto]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
max_line_length = 100

[*.rs]
indent_style = space
indent_size = 4
max_line_length = 100

[{*.sh,*.zsh,.aliases,.zprofile,.zshenv,.zshrc}]
indent_style = space
indent_size = 4

[*.tmux]
indent_style = space
indent_size = 4

[*.toml]
indent_style = space
indent_size = 2
max_line_length = 100

[*.ts]
indent_style = space
indent_size = 2
max_line_length = 100

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2
max_line_length = 100

[.gitconfig]
indent_style = tab
indent_size = 8

[COMMIT_EDITMSG]
max_line_length = 72

[Makefile]
indent_style = tab
indent_size = 8
